
*{
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

h1,h2,h3,h4,h5 {
	padding: 1em;
}

h2 {
	font-size: 1.8em;
	border-left: 3px solid #f9d00f;
	margin-bottom: 1em;
	margin-left: 0.5em;

}

h3 {
	font-size: 1.4em;
	margin-left: 1em;
	border-left: 3px solid #2260a8;
}

h4 {
	font-size: 1.2em;
	border-left: none;
}

button, p, a {
	font-weight: 300;
		
}

button {
	background-color: #f9d00f;
}

ul {
	list-style-type: none;
	display: flex;
	li {
		padding: 1em;
		button {
			padding: 1em 2em;
		}
	}
}

a{
	color: black;
	text-decoration: none;
}

/*Header Style*/

nav {
	ul {
		display: flex;
		justify-content: space-between;
		padding: 0 1em;
		li {
			transition: 0.5s all ease;
			a{
				color:#f9d00f;
			}
		}
		li:hover {
			background-color: #f9d00f;
			a{
				color:black;
			}

		}
	}
}

header {
	.headerTitle {
		position: absolute;
		width: 100%;
		bottom: 25vh;
		color: white;
		h1, h2 {
			border-left: none;
			padding: 0;
			font-weight: 300;
			text-align: center;
			margin-bottom: 0;
		}
		h1{
			font-size: 7rem;
			letter-spacing: 1em;
			padding-left: 0.3em;
		}
	}
	.backstretch {
	width: 100%;
	height: 80vh;
	img {
		filter: brightness(0.6);
		position: relative
		}
	}

}

/*General section Style*/

main {
	width: 100%;
}

section {
	padding-top: 2em;
	padding-bottom: 1em;
}

footer {
	display: flex;
	justify-content: space-around;
	background-color: black;
	color: white;
	padding: 1em;
	a {
		color: #f9d00f;
	}
	div {
		display: flex;
		ul {
			flex-direction: column;
			padding-left: 0.5em;
		}
	}
	li {
		padding: 0;
	}
}

/* Presentation Style */

#presentation {
	background-color: black;
	color: white;
	border-top: 3px solid #2260a8;
}

#presentationWrapper {
	display: flex;
	p {
		margin-left: 3em;
	}
	h4 {
		margin-left: 1.5em;
	}
	.presentationNav {
		margin-left: 2em;
		 ul{
		display: flex;
		flex-direction: column;
		button {
			width: 100%;
			border: none;
			padding: 0.3em 1em;
		}
		li {
			padding: 0.3em 1em;
		}
	}

}
}


/*Biography section Style*/

#biographie, #contact {
	background-color: #f9d00f;
	h2 {
		border-left: 3px solid black;
	}
}

.js-buttonLikeDebut, .js-buttonLikeMiddle, .js-buttonLikeModerne {
	cursor: pointer;
	margin-right: 1em;
}

.js-displayClickDebut, .js-displayClickMiddle, .js-displayClickModerne {
	padding: 0 1em;
}

.biographieNav {
	display: flex; 
	margin-left: 8em;
}

/* Photographie section style */

#photographie {
	background-color: black;
	color: white;
	position: relative;
	#carousel {
	  width:70%;
	  height:450px;
	  margin-left: calc(50% - 35%);
	  // clear:both;
	  overflow:hidden;
	  background:black;
	}
	#carousel img {
  		visibility:hidden; /* hide images until carousel can handle them */
	}
	#prev, #next {
	  position: absolute;
	  color: #f9d00f;
	  top: 15em;
	}
	#prev {
		left: 5%;
	}
	#next {
	  right: 5%;
	}
	.image {
	  display: inline-block;
	  width: 50px;
	}
}

/* contact section style */

#contact {
	color: black;
	border-top: 3px solid #2260a8;
	border-bottom: 3px solid #2260a8;
	button {
		border: none;
		padding: 0.5em;
		margin-top: 0.5em;
	}
	form {
		background-color: black;
		color: #f9d00f;
		padding: 2em 1em;
		width: 30%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		position: relative;
		input {
			margin: 0.5em 0;
		}
	}

	form:before {
		content:'';
		position: absolute;
		top:0px;
		left:0px;
		width:80px;
		height:25px;
		background-color: #f9d00f;	
	}
	form:after {
		content:'';
		position: absolute;
		top:0px;
		right:0px;
		width:80px;
		height:25px;
		background-color: #f9d00f;
	}
}

/* RESPONSIVE DESIGN */

@media (max-width: 900px) {
	header {
		.headerTitle {
		h1 {
			font-size: 7rem;
			letter-spacing: 0.5em;
			padding-left: 0.3em;
			}
		}
	}
	#contact {
		form {
		width: 70%;
		}
	}
}

@media (max-width: 600px) {
	header {
		.headerTitle {
		h1 {
			font-size: 7rem;
			letter-spacing: 0.1em;
			padding-left: 0;
			}
		}
		nav {
			background-color: black;
			ul {
			padding: 0;
			li {
				padding: 1em 0.5em;
			}
			}
		}
	}
	#presentationWrapper {
		flex-direction: column;
		.presentationNav {
			margin-left: 0;
			ul {
			flex-direction: row;
			justify-content: space-around;
			li {
				padding: 0;
			}
		}
		}
	}
	#biographie {
		.biographieNav {
			margin-left: 0;
		}
	}
	footer {
		font-size: 0.85em;
	}
	.js-buttonLikeModerne {
		margin-right: 0;
	}
}

